@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

header {
  background-color: c.$primary-color;
  color: white;

  nav {
    @include m.flex-center;
    justify-content: space-between;
    padding: 1rem 2rem;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .logo img {
  max-height: 50px;  // Altura máxima cómoda para el header
  width: auto;       // Mantiene la proporción natural
  display: block;
}


    .nav-links {
      list-style: none;
      display: flex;
      gap: 1.5rem;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
