@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
@use "sass:color";


.button {
  padding: 0.75rem 1.5rem;
  background-color: c.$accent-color;
   transition: background-color 0.3s;
  color: c.$primary-color;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  @include m.transition;

  &:hover {
    background-color: color.adjust(c.$accent-color, $lightness: -10%);
  }
}
