@use '../abstracts/colors' as c;

body.dark-mode {
  background-color: c.$background-dark;
  color: c.$text-dark;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: c.$primary-color;
}

body.dark-mode a {
  color: c.$accent-color;
}
