$primary-color: #1e3a8a;      // azul oscuro elegante
$secondary-color: #60a5fa;    // azul claro
$accent-color: #facc15;       // amarillo para llamar la atención

$bg-light: #f9fafb;           // fondo claro
$bg-dark: #111827;            // fondo oscuro si usas un tema oscuro
$text-color: #1f2937;         // gris oscuro para texto principal
$dark-color: #1f2937;